* {
    box-sizing: border-box;
}

/* Base Styles */

.main-header {
    font-family: 'Sriracha', cursive;
}

main {
    font-family: 'Roboto', sans-serif;
}

.main-footer {
    text-align: center;
}


/* Layout Styles */

.main-header {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    padding: 10px 20px;
}

.nav {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav li {
    padding: 0 10px;
}

.container {
    margin: 10px 30px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Media Queries */