* {
    box-sizing: border-box;
}

/* Base Styles */

body {
    background-image: 
        linear-gradient(rgba(0, 131, 201, .50), rgba(0,131,201,.50)), 
        url("../img/repeated-square.png");
    height: 100%;
    width: 100%;
    /* Background pattern from Toptal Subtle Patterns */
}

header {
    display: flex;
    flex-flow: no-wrap column;
    background: rgb(255, 10, 104);
}

.name,
.topnav a {
    text-decoration: none;
    color: rgb(54,54,54);    
}

.topnav a {
    float: left;
    display: block;
    padding: 0 10px;
    text-align: center;
    padding: 9px 16px;
    font-size: 1rem;
}

.topnav a:hover {
    background-color: rgb(150, 89, 255);
    color: white;
}

.topnav a.active {
    background-color: rgb(150, 89, 255);
    color: white;
    font-weight: bold;
}

.topnav .icon {
    display: none;
}

nav a:not(:first-child) {
    /* color: black; */
    display: block;
}

.name {
    margin: 20px auto;
}

.topnav {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    background-color: rgb(255, 221, 99);
}

nav ol {
    margin: 0;
    padding: 10px;
}

.main-header {
    font-family: 'Rubik', sans-serif;
    /* font-weight: 900; */
}

main {
    font-family: 'Roboto', sans-serif;
}

.main-footer {
    text-align: center;
}

.image {
    max-width: 100%;
    max-height: 100%;
    /* display: block; */
    /* margin: auto; */
}

.banner {
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    height: auto;
    background: rgb(255, 10, 104);
}

/* Layout Styles */

.main-header {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    /* padding: 10px 20px; */
}

.container {
    margin: 10px 30px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Media Queries */

@media (max-width: 556px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a:not(:first-child) {
        float: none;
        display: block;
        text-align: left;
    }
}

@media (min-width: 719px) {
    header {
        flex-flow: no-wrap row;
    }

    .name {
        font-size: 1.3rem;
    }
}